body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontally */
    height: 100vh;
    justify-content: center; /*vertically */
    background: url("https://source.unsplash.com/1600x900/?nature");
    font-family: sans-serif;
    background-size: cover;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}
.clock{
    display: flex;
    position: relative;
}
.clock div{
    margin: 5px;
}
.clock span{
    width: 100px;
    height: 80px;  
    background-color: slateblue;
    opacity: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 80%;
}

.clock #ampm{
    width: 60px;
    font-size: 20px;
}